*{
    margin: O;
    padding: O;
    box-sizing: border-box;
    font-family: georgia, 'Times New Roman', Times, serif;
    
}

/*body{
    overflow: hidden;
}
*/

section{
    padding: 100px 200px;
}

.btn{
    color: #fff;
    background: #3a6c3a;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    padding: 10px 2opx;
    text-transform: none;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.5s ease;
    cursor: pointer;
}
/*  Header   */

header .navbar ul{
    display: flex;

}

header .navbar ul li{
    list-style: none;
    padding: 10px;
}

header .navbar ul li a{
    text-decoration: none;
    color: black;

}

/*Main*/

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("/images/portfolio.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.main .content{
    max-width: 800px;

}

.main .content h2{
    color: #ea4;
    font-size: 2em;
    font-weight: 500;
}

.main .content h2 span{
    font-size: 1.8em;
    font-weight: 600;

}

.main .content h2 .animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;

}

.main .content .animated-text h3 {
    color: #4e9eff;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    
}

.main .content .animated-text h3:nth-child{
    animation: move 10s infinite;

}

@keyframes move{
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

.main .content .btn {
    color: white;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 3s ease;

}

.main .content .btn:hover{
    color: #fff;
    background-color: orange;
    transition: 2s ease;

}

.main .content .media-icons{
    margin-top: 50px;

}
.main .content .media-icons a{
    color: white;
    font-size: 25px;
    margin-right: 30px;

}


.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.section-title{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;

}


.section-title:before {
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 190px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left .img-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;


}

.about .content .col-right .content-title{
    color: none;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;

}

.about .content .col-right .para-text{
    text-align: justify;
    font-size: 1em;

}


.skills{
    background: #000016;

}

.skills .content{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin-top: 20px;

}


.skills .content .col-left .content-title{
    margin-bottom: 20px;

}

.skills .content .col-left p{
    text-align: justify;
    font-size: 1em;

}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 10px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}


.skills .content .col-right .bar .info span{
    font-size: 19px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 5px;
    background: #999999;
    border-radius: 2px;

}
.skills .content .col-right .bar .line::before{
    content: "";
    position: absolute;
    height: 190%;
    top: 0;
    left: 0;
    border-radius: 2px;

}

.skills .content .col-right .bar .html::before{
    width: 95%;
    background: #e45126;

}

.skills .content .col-right .bar .css::before{
    width: 95%;
    background: #0c73b8;
}
.skills .content .col-right .bar .javascript::before{
    width: 95%;
    background: #e3a324;

}

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

}
.services .title p{
    font-size: 1em;
    width: 80%;
}

.services .content .card{
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(1 1 1 /15%);

}

.services .content .card .serice-icon {
    color: #3a6cf4;
    font-size: 2em;
    text-align: center;
    transition: transform 0.5s ease;
}
.services .content .card:hover .serice-icon{
    transform: translateY(-10px);

}
.services .content .card .info{
    text-align: center;

}

.services .content .card .info h3{
    color: #3a6cf4;
    font-size: 1.2m;
    font-weight: 700;
    margin-bottom: 10px;

}

.project{
    background: #000;

}

.project .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}
.project .content .card{
    width: 40px;
    margin: 15px;
}


.project .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;

}

.project .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}


.project .content .card .card-img img:hover{
    transition: 0.9s ease-in-out;
    transform: scale(1.2);
}
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

}
.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
.contact .content .row .card{
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: o 5px 5px rgba(1 1 1 / 15%);
    border-radius: 10px;

}

.contact .content .row .card .contact-icon{
    color:#3a6cf4;
    font-size: 2enm;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
}

.contact .content .row .card .info{
    text-align: center;
}

.contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
}
.contac-form{
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(1 1 1 /15%);
}


.contac-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    
}

.contact-form .input-box input,
.contact-form .input-box textarea .send-btn{
    color:#111;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box textarea .send-btn{
    color: #fff;
    background: #3abcf4;
    display: inline-block;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}









